{{ define "main" }}

<article id="content">
  <p>Welcome to my personal site. Below, you'll find my most recent blog post, taken from the <a href="/blog/">full archive</a>.</p>

  {{ range ( where site.RegularPages "Section" "blog" | first 1 ) }}
    {{ partial "entry.html" . }}
  {{ end }}
</article>

<aside>
  <section>
    <h2>Currently Reading</h2>

    <picture>
      <!-- <source srcset="/images/covers/sapiens.avif" type="image/avif">
      <source srcset="/images/covers/sapiens.webp" type="image/webp"> -->
      <img src="/images/covers/agile-application-security.jpg" alt="Book Cover">
    </picture>

    <div>
      <p><cite>Agile Application Security</cite><br>
      - Laura Bell, Michael Brunton-Spall, Rich Smith & Jim Bird</p>

      <nav>
        <span>&laquo; <a href="/page/depository">Depository</a></span>
        <span><a href="/page/tsundoku">Tsundoku</a> &raquo;</span>
    </nav>
    </div>
  </section>
</aside>

{{ end }}
