<footer>
    <ul class="container" aria-label="Social Links">
        <li>
            <a href="https://twitter.com/nevstokes" title="Twitter" target="_blank" rel="noopener noreferrer">
                <svg><use xlink:href="/symbol-defs.svg#icon-twitter"></use></svg>
                <span>My Twitter Feed</span>
            </a>
        </li>
        <li>
            <a href="https://keybase.io/nevstokes" title="Keybase" target="_blank" rel="noopener noreferrer">
                <svg><use xlink:href="/symbol-defs.svg#icon-keybase"></use></svg>
                <span>My Keybase Identity</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/nevstokes" title="GitHub" target="_blank" rel="noopener noreferrer">
                <svg><use xlink:href="/symbol-defs.svg#icon-github"></use></svg>
                <span>My GitHub Repositories</span>
            </a>
        </li>
        <li>
            <a href="https://linkedin.com/in/nevstokes" title="LinkedIn" target="_blank" rel="noopener noreferrer">
                <svg><use xlink:href="/symbol-defs.svg#icon-linkedin"></use></svg>
                <span>My LinkedIn Profile</span>
            </a>
        </li>
        <li>
            <a href="https://stackoverflow.com/users/224639/nev-stokes" title="StackOverflow" target="_blank" rel="noopener noreferrer">
                <svg><use xlink:href="/symbol-defs.svg#icon-stackoverflow"></use></svg>
                <span>My StackOverflow Activity</span>
            </a>
        </li>
        <li>
            <a href="https://www.strava.com/athletes/nevstokes" title="Strava" target="_blank" rel="noopener noreferrer">
                <svg><use xlink:href="/symbol-defs.svg#icon-strava"></use></svg>
                <span>My Strava Activities</span>
            </a>
        </li>
        <li>
            <a href="https://nevstokes.com/index.xml" title="RSS" target="_blank" rel="noopener noreferrer">
                <svg><use xlink:href="/symbol-defs.svg#icon-rss"></use></svg>
                <span>This Blog's RSS Feed</span>
            </a>
        </li>
    </ul>
</footer>
